.pagenotfound {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 0 0;
  padding: 18vh 0 0 0;
  height: -webkit-fill-available;
  background-color: rgb(244, 244, 244);
}

.pagenotfound__img {
  width: 100vw;
}

.pagenotfound__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin: 0 0 8px 0;
  text-align: center;
}

.pagenotfound__subtitle:last-child {
  margin: 10px 0 0 0;
}

.pagenotfound__link {
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: rgba(52, 86, 243, 1);
  text-decoration: none;
  margin: 0 0 0 0;
}

.pagenotfound__link:hover {
  opacity: .5;
}

@media (max-width: 450px) {
  .pagenotfound__subtitle {
    font-size: 12px;
    line-height: 15px;
  }
  .pagenotfound__link {
    font-size: 12px;
    line-height: 15px;
  }
}
