.searchform {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 0;
  padding: 72px 70px 10px;
}

.searchform__area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 85px 0;
  border-radius: 9px;
  background-color: rgba(245, 245, 245, 1);
}

.searchform__form {
  position: relative;
  display: flex;
  margin: 0 0 0 0;
  max-width: 890px;
  width: 100%;
}

.searchform__input {
  width: 100%;
  height: 70px;
  margin: 0 0 0 0;
  padding: 0 50px 0 40px;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  border: none;
  border-radius: 9px;
  background-color: rgba(245, 245, 245, 1);
}

.searchform__input:hover {
  border: 1.5px solid rgba(52, 86, 243, .5);
  outline: none;
}

.searchform__input:focus{
  border: 1.5px solid rgba(52, 86, 243, 1);
  outline: none;
}

.searchform__button {
  position: absolute;
  right: 7px;
  top: 18px;
  background: border-box no-repeat rgba(52, 86, 243, 1) url(../../images/search_logo.svg);
  height: 34px;
  width: 34px;
  border-radius: 50%;
  background-position: center;
  border: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  cursor: pointer;
}

.searchform__hr {
  color: rgba(170, 170, 170, 1);
  size: 1px;
  width: 40px;
  margin: 0 44px 0 0;
  transform: rotate(90deg);
}

.searchform__line {
  color: rgba(232, 232, 232, 1);
  size: 1px;
  width: 100%;
  margin: 0 0 0 0;
}

@media (max-width: 768px) {
  .searchform {
    padding: 82px 20px 1px;
  }

  .searchform__area {
    margin: 0 0 12vh 0;
  }
}

@media (max-width: 650px) {
  .searchform {
    padding: 78px 10px 1px;
  }

  .searchform__hr {
    display: none;
  }

  .searchform__area {
    flex-direction: column;
    background-color: white;
    margin: 0 0 5vh 0;
  }

  .searchform__input {
    border-radius: 9px;
    margin: 0;
    font-size: 14px;
    padding: 0 0 0 19px;
  }

  .searchform__button {
    right: 19px;
  }
}
