.autorizationwithform {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 396px;
  width: 100%;
  margin: 0 0 0 0;
}

.autorizationwithform__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 26px 0 20px 0;
}

.autorizationwithform__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.autorizationwithform__label {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: rgba(160, 160, 160, 1);
  margin: 20px 0 10px 0;
  padding: 0 0 0 0;
}

.autorizationwithform__input {
  height: 46px;
  border: none;
  border-radius: 8px;
  background-color: rgba(249, 249, 249, 1);
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  margin: 0 0 0 0;
  padding: 0 15px 0;
}

.autorizationwithform__button {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: white;
  border: none;
  border-radius: 3px;
  height: 45px;
  cursor: pointer;
  margin: 20vh 0 17px 0;
  padding: 0 0 0 0;
  background-color: rgba(52, 86, 243, 1);
}

.autorizationwithform__button:hover {
  opacity: .5;
}

.autorizationwithform__text {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(160, 160, 160, 1);
  margin: 0 0 0 0;
}

.autorizationwithform__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(52, 86, 243, 1);
  margin: 0 0 0 6px;
  text-decoration: none;
}

.autorizationwithform__link:hover {
  opacity: .5;
}

@media (max-width: 450px) {
  .autorizationwithform {
    margin: 46px 0 0 0;
  }
  .autorizationwithform__title {
    margin: 4px auto 60px;
    text-align: center;
  }
  .autorizationwithform__button {
    font-size: 12px;
    line-height: 15px;
  }
  .autorizationwithform__text {
    font-size: 12px;
    line-height: 15px;
  }
  .autorizationwithform__link {
    font-size: 12px;
    line-height: 15px;
  }
  .autorizationwithform__logo {
    margin: 0 auto 0;
  }
}
