.navtab {
  display: flex;
  background-color: black;
}

.navtab__nav {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 25px;
  width: 100%;
  max-width: 275px;
}

.navtab__link {
  color: white;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-decoration: underline;
  margin: 0 0 0 0;
  cursor: pointer;
}

.navtab__link:hover {
  opacity: .5;
}

@media (max-width: 450px) {
  .navtab__link {
    font-size: 11px;
    line-height: 16px;
  }
  .navtab__nav {
    max-width: 212px;
  }
}
